/*******************************************/
/*GENERAL STYLES*/
/*******************************************/

body {
    background-color: #edefec
}

body:after {
    content:"";
    display:block;
    clear:both;
}


/*******************************************/
/*NAVBAR */
/*******************************************/

.navbar-default {
    margin-bottom: 0;
    background-color: rgba(1, 97, 101, 0.2);  
    border: none; 
    color: #edefec;   
}

.navbar-brand {
    padding-top: 2px; 
}

.navbar-right > li {
    margin-left: 20px; 
    margin-top: 10px; 
    font-weight: bold;
    font-size: 1em;
}

#userImg {
    border-radius: 50%; 
    border: 2px solid #333;
}

.navbar-right button {
    height: 30px; 
    background-color: #cc002d; 
}
/*******************************************/
/*HERO DIV*/
/*******************************************/

#heroimg {
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 122, 135, 0.45), 
      rgba(0, 122, 135, 0.45)

    ),
    /* bottom, image */
    url(hero.png); 
    height: 500px; 
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-top: -60px; 
}

#hero-text {
    padding-top: 9em; 
    margin-left: 10em; 
    margin: auto;  
    color: #fdfdfd; 
}

#hero-text h1 {
    font-size: 4em; 
    text-transform: uppercase; 
}

#hero-text h4 {
    margin-top: 1.5em; 
    width: 35em; 
}

/*******************************************/
/*SEARCH COMPONENT*/
/*******************************************/

#search-container {
    margin-top: 5em; 
}

#search-container .col-md-10 {
    margin-left: 22em;   
}

#search-container .col-md-2 {
    padding: 0
}

#search-container input {
    height: 35px; 
}

#search-container button {
    width: 125px;
    height: 35px;   
}

/*search icon button*/

#icon-search {
    background-color: rgba(0, 122, 135, 0.2); 
    font-size: 3em ; 
    height: 70px ;  
    color: #cc002d; 
    margin-left: 50%; 
}

/*******************************************/
/*HAIR TUTORIAL */
/*******************************************/

#tutorial-header {
    margin-left: 15%;  
}

#hair-tutorial-header {
    font-size: 2em; 
}

#weave {
    font-style: italic
}

.tutorial-container {
    position: relative; 
    width: 650px; 
    margin-left: 30%; 
    margin-top: 3%; 
}



.tutorial-image {
    position: absolute; 
    left: 0; 
    top: 0; 
    border: 5px solid rgb(0, 122, 135); 
}

.tutorial-text {
  z-index: 100;
  position: absolute;
  color: #fdfdfd;
  font-size: 2em;
  font-weight: bold;
  left: 20px;
  top: 0px;
  text-transform: uppercase; 
}

.tutorial-p {
  z-index: 100;
  position: absolute;
  color: #fdfdfd;
  font-size: 1.3em;
  left: 4px;
  top: 350px;
  width: 415px; 
  height: 70px; 
  background-color: rgba(0, 0, 0, 0.6)
}

p span.spacer {
   padding:0 5px;
}

footer {
    position: absolute; 
}


/*******************************************/
/*FOOTER */
/*******************************************/

/*Amazing footer styles from stack overflow*/
.footer {
    bottom: 0;
    margin: 0 auto !important;
    text-align: center;
    width: 100% !important;
    height: 60px;
    position: absolute; 
    background-color: rgba(0, 122, 135, 0.2)
}

.footer img {
    display: inline-block; 
}

.footer p {
    margin-bottom: 0; 
}

/*******************************************/
/*RESULTS PAGE */
/*******************************************/


.demo-card-square.mdl-card {
  width: 280px;
  height: 250px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('Tutorial2.png') bottom right 15% no-repeat #edefec;
}

.price {
    font-weight: bold; 
}

.mdl-card__supporting-text {
    padding: 8px 5px; 
}
.mdl-card__supporting-text p{
    margin-bottom: 0; 
    width: 260px; 
}
.mdl-card__actions {
    font-size: 10;
}

#pic-name {
    width:280px; 
    height:60px; 
    margin-top: 200px; 
}

#pic-name h2 {
    background-color: rgba(0, 0, 0, 0.6); 
}

#pic-name img {
     margin-left: 10px; 
     margin-top: -20px; 
     border-radius: 50%; 
     border: 3px solid #333; 
}

.mdl-card__actions p {
    margin-bottom: 0; 
    font-size: 10; 
}

.mdl-card--border .glyphicon-heart {
    color: #cc002d; 
    font-size: 1em; 
}

#map {
    border: 3px solid #333; 
}

/*******************************************/
/*REPORT CARD*/
/*******************************************/

.demo-card-event.mdl-card.mdl-shadow--2dp {
  width: 280px;
  height: 250px;
}

.demo-card-event.mdl-card.mdl-shadow--2dp h4 {
    margin-top: -50px; 
    text-align: center; 
    margin-left: 50px; 
    font-weight: bold; 
}

.demo-card-event.mdl-card.mdl-shadow--2dp i {
    font-size: 4em; 
    color: red; 
}

#submit-report {
    width: 100px; 
    background-color: rgb(0, 122, 135)
}


/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/*OTHER STUFFFFF*/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/


/*ANIMATIONS FOR PRACTICE */

/*

anim-appear: where the animation starts
anim-appear anim appear active: how the animation works and where it ends

*/

.image {
    height: 300px; 
    width: 300px; 
}

/*For the tutorial*/

/*Keep consistency with class names
**Use "appear" for initial loading of the page
**Use "enter" for components that load after the page load
    such as those that load in response to an event. 
**The transition seconds in CSS should match the miliseconds passed into
    CSSTransitionGroup
*/

/*Conditions for when the search form first appears.*/
.search-enter {
    opacity: 0.01; 
}

/*Specify length of time and end result of transition, before
the search component renders as normal*/

.search-enter.search-enter-active {
    opacity: 2; 
    transition: opacity 1s ease-in;
}

/*Conditions for when the search icon first leaves*/
.search-leave {
    opacity: 2
}

/*Specify how the search icon should leave before it dissapears*/
.search-leave.anim-leave-active {
    opacity: 0.01; 
    transition: opacity 1s ease-out; 
}

/*anim transitions*/
/*Notice how I have to set the seconds both here and in the render method of the component*/

/*transitionAppear*/
.anim-appear {
    opacity: 0.01;
}

/*transitionAppearTimeOut*/

/*transition appear is for first loading the page. 
while transion enter is for things that load after it. */

.anim-appear.anim-appear-active {
    opacity: 2; 
    transition: opacity 5s ease-in;
}

/*TransitionEnter*/
/*When the element first appears, in what condition should it start?*/
.anim-enter {
    opacity: 0.01; 
}

/*At what point should the animation stop before it renders as normal?
Also, how long should this animation take, and how should it animate?
So here, the animation will ease in, take 3s to get to opacity 0.8, then
it will render as normal(with full opacity)*/
.anim-enter.anim-enter-active {
    opacity: 0.8; 
    transition: opacity 3s ease-in; 
}

/*start the leaving transition*/
.anim-leave {
    opacity: 2
}

/*how to end the leaving transition leaving transition*/
.anim-leave.anim-leave-active {
    opacity: 0.01; 
    transition: opacity 3s ease-out; 
}

.box, .circle {
    width: 400; 
    height: 400; 
}